<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Up Next</title>
    </head>
    <body>
    <p id="panel"></p>
    <img src="./here.png" id="heading">
    </body>
</html>
