/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');*/

@font-face {
    font-family: "Comic Book";
    src: url("./Comic Book.woff");
}

@font-face {
    font-family: "Tondu";
    src: url("./Tondu_Beta.woff2");
}

@font-face {
    font-family: "Segoe UI";
    src: url("./segoeui.woff2");
}

@font-face {
    font-family: "Segoe UI Black";
    src: url("./segoeuib.woff2");
}

body {
    margin: 0;
    padding: 0;
    color: black;
    overflow: hidden;
    height: 100vh;
    /*background-color: #1d2c58;*/
}

text, p {
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: linear;
    opacity: 1;
}

body.transitioning text, body.transitioning p {
    opacity: 0;
}

#heading {
    stroke: #301061;
    fill: white;
    stroke-width: 10px;
    stroke-linejoin: round;
    font-size: 60px;
    font-family: 'Segoe UI Black', sans-serif;
    text-transform: uppercase;
    paint-order: stroke;
}

.time {
    font-style: italic;
}

p {
    font-family: "Segoe UI", sans-serif;
    font-size: 50px;
    color: white;
    margin: 0;
    padding: 0;
    padding-left: 5px;
    padding-top: 5px;
    margin-top: -15px;
    line-height: 57px;
    width: 100%;
    height: 125px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}