<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Up Next</title>
    </head>
    <body>
    <div id="svgContainer">
        <svg width="724" height="65" viewbox="0 0 724 60">
            <defs>
                <linearGradient id="header-gradient" x2="0" y2="1">
                    <stop offset="11%" stop-color="#b85900" />
                    <stop offset="26%" stop-color="#FF7200" />
                    <stop offset="44%" stop-color="#FFC98B" />
                    <stop offset="56%" stop-color="#FFC98B" />
                    <stop offset="73%" stop-color="#FF7200" />
                    <stop offset="92%" stop-color="#9C3303" />
                </linearGradient>
            </defs>
            <text x="15" y="53" id="heading"></text>
        </svg>
    </div>
<!--    <h1 id="heading">Now Playing:</h1>-->
    <p id="panel"></p>
    </body>
</html>
