<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Up Next</title>
    </head>
    <body>
    <svg width="724" height="60" viewbox="0 0 724 60">
        <text x="5" y="50" id="heading"></text>
    </svg>
<!--    <h1 id="heading">Now Playing:</h1>-->
    <p id="panel"></p>
    </body>
</html>
